.container {
    display: flex;
    align-items: center;

    width: 100%;
    height: 4.063rem;

    padding: 0.625rem 1.25rem;
    gap: 1rem;

    background-color: #FFFCF9;
    border: 1px solid #A7A7A880;
}

.iconButton {
    padding: 0px;

    background-color: transparent;
    border: none;

    cursor: pointer;

    img {
        display: block;
    }
}