.cardContainer{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
}

.memberIMG{
    aspect-ratio: 22/35;
    height: 15.3125rem;
    border-radius: 1.75rem;
    object-fit: cover;
    display: block;
}

.textContainer h3{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    white-space: nowrap;
}

.textContainer p{
    font-size: 1rem;
    color: #6563DE;
    font-weight: bold;
}