.footer{

}

.footerTop{
    display: flex;
    padding: 52px 40px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.footerNav{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;

    section {
        display: flex;
        flex-direction: column;
        gap: 12px;

        div{
            display: flex;
            flex-direction: column;
            gap: 6px;
        }
    }
}

.navLinks{
    display: flex;
    align-items: flex-start;
    gap: 54px;

}

.navHeading{
    font-size: 20px;
    color: #6563DE;
    font-weight: 500;
    line-height: normal;
}

.link{
    font-size: 18px;
    text-decoration: none;
    color: #A3A1EB;
    font-weight: 500;
    line-height: normal;
    transition: ease-in 0.2s;

    &:hover{
        color: #CC81F9;
        
    }

}

.meetingInfo{
    display: flex;
    gap: 48px;
}

.map{
    border-radius: 16px;
    object-fit: cover;

    &:hover{
        background-color: black;
    }
    
}

.mapWrapper {
    position: relative;
    width: 133px;
    height: 125px;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;

    .mapOverlay {
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.27);
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.2s ease;
        gap: 2px;
        box-shadow: 0 4px 12.9px 0 rgba(0, 0, 0, 0.76);


    }

    &:hover .mapOverlay {
        opacity: 1;
    }
}

.overLayTXT{
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);

    span {
        color: white;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

}

.mapIcon{
    filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.8));
}

.includeMsg{
    color: #A3A1EB;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.socialIcons{
    display: flex;
    gap: 8px;
}

.icon{
    background-color: #6563DE;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 100px;
}

.divider{
    width: 95%;
    height: 1px;
    border-top: 1px solid #E0E0E0;
    margin: 0 auto;
}

.footerBottom{
    display: flex;
    flex-direction: row;
    padding: 40px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    justify-content: space-between;
}