.container{
    background-color: rgb(255, 210, 255);
    display: flex;
    gap: 1.75rem;
    padding: 3rem 2.5rem ;
}

.memberIMG{
    border-radius: 1rem;
}

.memberInfo{
    margin: 1.75rem 0rem;
}

.memberInfo .header{
    display: flex;
    justify-content: space-between;
}

.header .socials{
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.header .socials a{
    background-color: white;
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 6.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.memberInfo .standing{
    display: flex;
    gap: 0.938rem;
    padding: 0.688rem 0rem;
}

.standing li{
    list-style: none;
    background-color: white;
    padding: 0.5rem 0.75rem;
    border-radius: 1.25rem;
}

.memberInfo .interests{
    
}