.container{
    // background-color: #E0E0F8;
    background-image: url('/images/about/backgrounds/James_Background.svg');
    background-size: contain;       // shows full image
    background-position: center;  // keeps it centered when cropped
    background-repeat: no-repeat;
    display: flex;
    // gap: 1.75rem;
    width: 1008px;
    height: 410px;
    justify-content: center;
    align-items: center;
}

.memberIMG{
    border-radius: 1rem;
    width: 174.706px;
    height: 315.598px;
    object-fit: cover;
}

.memberInfo{
    margin: 1.75rem 0rem;
    display: inline-flex;
    flex-direction: column;
    gap: 0.688rem;
    padding-left: 15px;

}

.memberInfo .header{
    display: flex;
    justify-content: space-between;
    padding-right: 12px;
}

.header h2{
    font-size: 1.75rem;
}

.header .socials{
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.header .socials a{
    background-color: white;
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 6.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.memberInfo .standing{
    display: flex;
    gap: 0.938rem;
    font-size: 0.875rem;
    font-weight: bold;
}

.standing li{
    list-style: none;
    background-color: white;
    padding: 0.5rem 0.75rem;
    border-radius: 1.25rem;
}

.standing .position{
    background-color: #6563DE;
    color: white;
}

.memberInfo .interests{
    margin-left: 1rem;
    max-width: 630px;
    height: 167px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 16px;
    line-height: 129.993%;
    padding: 11px 0px;
    font-size: 16px;
}

// test
.otherMembers {
    display: flex;
    flex-direction: column;
    width: 44px;
    height: 306px;
}

.sideBtns {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  overflow: hidden;
  transition: opacity 0.2s ease;

  &.active {
    opacity: 1;
  }

  &.dim {
    opacity: 0.3;

    &:hover {
      opacity: 0.6;
    }
  }
}

.imgBtn{
    object-fit: cover;
}