.container {
    display: flex;
    justify-content: space-between;

    height: 455px;

    padding: 0px 120px;
    gap: 188px;
}

.header {
    margin-top: 96px;

    font-size: 7.75rem;
    font-weight: 400;

    color: #6563DE;
}

.description {
    font-size: 1.25rem;
    font-weight: 500;

    color: #A3A1EB;
}

.starContainer {
    position: relative;
}

.starIcon1 {
    position: absolute;

    top: 80px;
    right: 305px;
}

.starIcon2 {
    position: absolute;

    top: 15px;
    right: 159px;
}

.starIcon3 {
    position: absolute;

    top: 141px;
    right: 97px;
}