.container {
    background-color: #FFF;

    border-radius: 8px;

    border: #D2D1D0 1px solid;
    border-top: none;

    padding: 6px;

    position: absolute;

    top: 100%;
    left: 0;

    margin-top: 14px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}