@use "app/(pages)/_globals/mixins.scss" as mixins;

.container {
    display: none;

    margin-top: 72px;
    margin-bottom: 21px;

    @include mixins.tablet {
        display: block;
    }
}

.header {
    margin-bottom: 31px;

    font-size: 32px;
    font-weight: 900;
    line-height: 1;
    text-align: center;
}