@use 'app/(pages)/_globals/mixins.scss' as mixins;

.container {
    display: flex;
    flex-direction: column;

    align-items: center;

    margin-top: 1.313rem;
    margin-bottom: 4rem;
    
    padding-top: 0.625rem;
    
    gap: 2.25rem;

    @include mixins.tablet {
        margin: 0px;
        
        padding: 0.875rem 1rem;
    }
}