@use "app/(pages)/_globals/mixins.scss" as mixins;

.container {
    display: flex;
    justify-content: center;

    margin-top: 27px;
    margin-bottom: 84px;

    padding: 0px 111px;
    gap: 61px;

    @include mixins.phone {
        flex-direction: column;

        margin-top: 46px;
        margin-bottom: 21px;

        padding: 0px 20px;
        gap: 46px;
    }
}

.imageContainer {
    flex: 1;

    align-self: center;

    @include mixins.phone {
        padding: 0px 36px;
    }
}

.image {
    width: 579px;

    @include mixins.phone {
        width: 290px;
        height: 167px;
    }
}

.textContainer {
    display: flex;

    flex: 1;
    flex-direction: column;

    padding: 30px 0px;

    color: #000;

    @include mixins.phone {
        padding: 52px 28px;

        color: #FFF;

        background: linear-gradient(to bottom, #8482E5, #C1C1F2);
        border-radius: 40px;
    }
}

.title {
    font-size: 3rem;
    font-weight: 900;

    text-align: center;

    @include mixins.phone {
        font-size: 2rem;
    }
}

.descriptionContainer {
    margin-top: 20px;
}

.descriptionContainer > * {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;

    @include mixins.phone {
        font-size: 0.875rem;
        line-height: 1.3;
    }
}